
div.img {
    margin-top: 20px;
}
div.img img {
    max-width: 600px;
    height: auto;
    border: 1px solid #ccc;
    padding: 4px;
}
.review {
    background: #eaf9ff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #cae4ef;
    max-width: 600px;
}
.review h3 {
    margin-top: 0;
    color: #13475e;
}
.review p {
    font-weight: 600;
    color: #000;
}
.review a {
    color: #fff;
    background: #bc3315;
    text-decoration: none;
    padding: 3px 15px;
}
.review a:hover {
    background: #555;
}